.tabs {
  display: flex;
  height: 100vh;
 
}
.tab-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  width: 10%;
}
.tab-content {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-active {
  border-bottom: 3px solid orange;
}

.content {
  animation: MoveUpDown 2s linear ;
  position: absolute;
  top: 0;
  width: 100%;
  transition: 0.7s;
}
.obj-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
